:root {
/* Variables de css */
    --bg-color:#181419;
    --bg-input-color: #4f31572c;
    --primary-color:#9f3647;
    --secondary-color:#ffc098;
    --third-color:#131111cc;
    --color: #ffffff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--color);
    font-size: 24px;
    font-family: 'Nunito', Georgia;
    

}

a {
    text-decoration: none;
    color: var(--color);
    font-size: 1.1rem;
}
a:hover {
    color:var(--secondary-color);
}
  
header { /*este es el selector del header que va a modificarse con js, en generales.js*/
    position: fixed;
    /* background-color: var(--third-color); */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;

}

nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0px 50px;
    height: 60px;
}
#tamanioLogo{
    font-size: 2.5rem;
    color: #9f3647;
}
#tamanioLogo2{
    font-size: 1.5rem;
    position:relative;
    bottom:5px;
    right:5px;
}
#estiloLogo{
    font-size: 2.5rem; color: #9f3647;

}

#logo {
    font-weight:bolder;
    width: max-content;
    
}

#logo:hover {
    animation: movimiento-logo 0.25s infinite;

}

nav ul {
    /* border: 4px solid black; */
    align-items: center;

    display: flex;
    gap: 10px;
    list-style: none;
    /* New le damos z index para colocarlo por encima del div comision y poder dar clic */
    z-index: 1;
}

/* creamos el fotograma */
@keyframes movimiento-logo {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0deg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}


.btn-primary{
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid transparent;
    color:#FFF;
    cursor: pointer;
}

.btn-primary:hover{
    color:var(--secondary-color);
    border-color: var(--secondary-color);
    transition: all 1s ease;
}

.comision {
    /* background-color: rgba(0, 0, 255, .3); */
    /* y si queremos colocar el color y la opacidad en hexa ? 
    255 * 0.3 = 76.5 >>> 77 que en hexa es 4D
    */
    background-color: #0000ff4D;
    position: fixed;
    width: 100px;
    padding: 40px 0;
    text-align: center;
    top: 60px;
    right: 10px;
    
    border-radius: 50%;
}

.scrolled{ /*esta clase responde a la funcion que esta en generales.js, aparece cuando escroleamos para abajo*/
    background-color: var(--third-color);
}
/* selector por id */
#banner {
    background-image: url("../img/banner-bg.jpg"); /* Establece la imagen de fondo del elemento con el ID 'banner', especificada por la URL */
    background-size: cover; /* Ajusta la imagen de fondo para cubrir completamente el 치rea del elemento, manteniendo su relaci칩n de aspecto */
    height: 600px; 
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-container {
    max-width: 1200px;
}
.banner-container h1{
    color:#FFF;
    text-align: center;
    padding: 0px 160px;
    font-size: 4vw;
}
.banner-container h3{
    text-align: center;
    margin-bottom: 20px;
}

#search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
}


.search-container {

    padding: 10px 2px;
    /* margin: 30px 0; */
    /* width: 500px; */
    height: 400px;
    margin: auto;
    
}
.search-container h2 {
    text-align: center;
}
.search-container h2 span {
    padding-left: 10px;
}

.search-container input {
    background-color: var(--bg-input-color);
    width: 70%;
    height: 50px;
    border-radius: 25px;
    font-size: 1rem;
    color: var(--color);
    border: 2px solid var(--color);
    padding-left: 10px;
    margin-top: 10px;
}
/* vi침etas */
#aclamadas,h1.primer-clase{
    display: flex;
  align-items: center;
  margin: 30px;
}
/* vi침etas */
#aclamadas::before,h1.primer-clase::before { 
    content: '';
    display: inline-block;
    width: 15px; 
    height: 30px; 
    background-color:#9f3647;
    margin-right: 10px;
    
  }




.grid-pelis {
    /* border: 4px solid red; */
    display: grid;
    grid-template-columns: repeat(5, 0.1fr) ;
    gap: 50px;
    
    padding: 20px
}

/* Trabajando con Flex */
.movie-item{
    border: 4px solid rgba(19, 18, 18, 0.938);
    display: flex;
    overflow: hidden;
    position: relative;
    width: 200px;
    height: 300px;
    border-radius: 10px;
}

.movie-item-img {
    width: 200px;
    height: 300px;
    object-fit: cover;/* Ajusta la imagen para cubrir el contenedor sin distorsi칩n */
}

.movie-item-detail {
    background-color: #1a1919dc;
    position: absolute;
    bottom: -100%;
    width: 100%;
    max-height: 100%;
    transition: bottom 0.5s ease-in-out;
}

.movie-item:hover{
    opacity: 0.6;
}

.movie-item:hover .movie-item-detail {
    bottom: 0;
}

.movie-item-detail-title {
    color: white;
    margin: 0px 0px 0px 20px;
    /* line-height: 2rem; */
}
.movie-item-detail-overview{
    color: #FFF;
    font-size:x-small;
    margin: 0px 0px 5px;

}
.movie-item-detail-release_date{
    color: #FFF;
    font-size:x-small;
    margin: 0px 0px 5px;

}
.movie-item-detail-subtitle {
    color: white;
    font-size: 10px;
    margin: 3px 0px;
}

.movie-item-detail-subtitle::after{
    content: '游';
}
/* Estilos para estrenos */
/* vi침etas */
.estrenos{
    display: flex;
  align-items: center;
  margin: 30px;
}
/* vi침etas */
.estrenos::before { 
    content: '';
    display: inline-block;
    width: 15px; 
    height: 30px; 
    background-color:#9f3647;
    margin-right: 10px;
    
  }




.grid-pelis-estrenos {
    display: flex;
    overflow-x: auto;
    gap: 2px;
    padding: 20px; 
    width: 100%

}
/* Trabajando con Flex */
.movie-item-estrenos{
    border: 4px solid rgba(19, 18, 18, 0.938);
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100px;
    height: 150px;
    border-radius: 10px;
}

.movie-item-img-estrenos {
    width: 100px;
    height: 150px;
    object-fit: cover;/* Ajusta la imagen para cubrir el contenedor sin distorsi칩n */
}

.movie-item-detail-estrenos {
    background-color: #1a1919dc;
    position: absolute;
    bottom: -100%;
    width: 100%;
    max-height: 100%;
    transition: bottom 0.5s ease-in-out;
}

.movie-item-estrenos:hover{
    opacity: 0.6;
}

.movie-item-estrenos:hover .movie-item-detail-estrenos {
    bottom: 0;
}

.movie-item-detail-title-estrenos {
    color: white;
    margin: 0px 0px 0px 20px;
    /* line-height: 2rem; */
    font-size: x-small;
}
.movie-item-detail-overview-estrenos{
    color: #FFF;
    font-size:0%;
    margin: 0px 0px 5px;

}
.movie-item-detail-release_date-estrenos{
    color: #FFF;
    font-size:xx-small;
    margin: 0px 0px 5px;

}
.movie-item-detail-subtitle-estrenos {
    color: white;
    font-size:xx-small;
    margin: 3px 0px;
}

.movie-item-detail-subtitle-estrenos::after{
    content: '游';
}

footer {
    align-items: center;
    background-color: var(--third-color);
    display: flex;
    height: 100px;
    width: 100%;
}
footer a {
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color:var(--secondary-color);
}

footer {
    align-items: center;
    background-color: var(--third-color);
    display: flex;
    height: 100px;
    width: 100%;
}
footer a {
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color:var(--secondary-color);
}



/* TABLETS */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    h1{
        font-size: 3vw;
     
      
    }
    h3{
        font-size: 3vw;

    }
    #banner{
        height: 400px;
    }
    #search{
        height: 200px;
    }
    #logo {
        font-size: small;
    }

}

/* CELULARES */
@media screen and (max-width: 767px) {
    h1{
        font-size: 3vw;
     
      
    }
    h3{
        font-size: 3vw;
    }
    .search-container input {
        background-color: #9f3647;
    }

    .login-text {
        /* visibility: hidden; */
        display: none;
    }
    nav{
        height: auto;

    }
    .comision{
        background-color: #0000ff4D;
        position: fixed;
        width: 15%;
        padding: 40px 0;
        text-align:center;
        top: 60px;
        right: 10px;
        font-size:small;

    }
    

    .grid-pelis {
        display: block;
        /* grid-template-columns: repeat(2, 1fr) ; */
    
    }
    #logo {
       font-size: xx-small;
    
    }
    #estiloLogo{
        display: none;
    }
}